#service {
  // background: #ffffff;
  // padding-top: 26.1rem;
  // @include sp {
  //   padding-top: 10.6rem;
  // };
  .wrapper {
    padding-bottom: 18.8rem;
    @include sp {
      padding-bottom: 7rem;
    }
    &:before {
      content: "";
      position: absolute;
      width: 28.8rem;
      height: 108rem;
      top: 0;
      left: calc(50% - 118.6rem / 2 + 3rem);
      background: linear-gradient(#cbe825 0%, #306e00 100%);
      transform: skewX(-26deg);
      z-index: -1;
      @include sp {
        width: 14rem;
        height: 54.2rem;
        transform: skewX(-23.5deg);
        right: 0;
        transform-origin: top right;
        left: inherit;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 28.8rem;
      height: 96rem;
      bottom: 0;
      left: calc(50% - 118.6rem / 2 + 2rem);
      background: linear-gradient(#306e00 0%, #cbe825 100%);
      transform: skewX(-26deg);
      z-index: -1;
      @include sp {
        width: 14rem;
        height: 36rem;
        transform: skewX(-23.5deg);
        transform-origin: bottom left;
        left: 7.9rem;
      }
    }
  }
  .container {
    // max-width: 118.6rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20.3rem;
    gap: 2.5rem;
    padding: 0 4.7rem;
    @media (max-width: 1540px) {
      // max-width: 115rem;
      // margin-left: auto;
      // margin-right: auto;
    }
    &:last-child {
      margin-bottom: 0;
      @include sp {
        .service_list {
          &:first-child {
            &:before {
              content: "";
              position: absolute;
              background: linear-gradient(#306e00 0%, #cbe825 100%);
              z-index: -1;
              width: 14rem;
              height: 54.2rem;
              transform: skewX(-23.5deg);
              bottom: -9rem;
              transform-origin: bottom left;
              left: -3.6rem;
            }
          }
          &:last-child {
            &:before {
              content: none;
            }
          }
        }
      }
    }
    @include sp {
      display: block;
      padding: 0;
      margin-bottom: 9.4rem;
    }
  }

  .title {
    max-width: 51rem;
    margin-top: 8.4rem;
    @include sp {
      margin-top: 3rem;
    }

    .ttl_h3 {
      margin: 3.5rem auto;
      width: 100%;
      @include sp {
        margin: 2.4rem auto;
      }
    }
  }

  .txt_ttl_sub {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: #306902;
    @include sp {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
      line-height: 1.285;
    }
  }
  p.txt {
    font-size: 1.4rem;
    @include sp {
      font-size: 1rem;
    }
  }

  .service_list {
    position: relative;

    &:last-child {
      margin-top: -14rem;
      @include sp {
        margin-top: 3.8rem;

        &:before {
          content: "";
          position: absolute;
          background: linear-gradient(#cbe825 0%, #306e00 100%);
          z-index: -1;
          width: 14rem;
          height: 54.2rem;
          transform: skewX(-23.5deg);
          right: -3.6rem;
          bottom: 2.1rem;
          transform-origin: top right;
          left: inherit;
        }
      }
    }

    li {
      display: flex;
      max-width: 51rem;
      background: #ffffff;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
      overflow: hidden;
      margin-bottom: 6.5rem;
      min-height: 24.1rem;
      @include sp {
        min-height: 15rem;
        margin: 0 auto 3.8rem;
      }
      // &:first-child{
      //   background: none;
      //   box-shadow: none;
      //   margin-bottom: 0;
      //   min-height: inherit;
      // }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .thumb {
      position: relative;
      width: 21.59rem;
      flex-shrink: 0;
      @include sp {
        width: 12.8rem;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .txt_content {
      width: calc(100% - 12.59rem);
      padding: 3.5rem 3.2rem 1.4rem 1.8rem;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      @include sp {
        padding: 1.8rem 1.2rem 0.7rem 1.1rem;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 101%;
        left: -5.3rem;
        top: 0;
        background: #ffffff;
        transform: skewX(-24deg);
        z-index: -1;
        @include sp {
          transform: skewX(-21deg);
          left: -2.9rem;
        }
      }
    }
  }
}
